body {
  font-family: 'Montserrat', sans-serif;
padding: 0;
margin: 0;
background: #000;
color: #fff;
}
div, p, a, img, .header {
  box-sizing: border-box;
}

}
.link {
  display: flex;
  
}
.link a {
  text-decoration: none;
  color: #fff;
  padding-right: 15px;

}
.container { border: 1px solid red;
  width: 1170px;
  margin: 30px auto;
}
.afisha {
text-align: center;
}
.picture {
  display: flex;
  justify-content: space-between;
}
img {

}
.wall {
  width: auto;
  height: 600px;
  background: url('img/seiser-alm-4853168_1920.jpg');


}
.wall p {
  text-align: center;

}
footer {

  font-size: 10px;
margin-top: 50px;
padding-left: 15px;
}

/*responsive*/

/* 992px-1200px */
@media screen and (max-width: 1200px) {
.container {
  width: 960px;
}
}
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }

}
